{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
  <h2>Pushes</h2>
  <table style="width:100%">
  <tr>
    <th>Who</th>
    <th>When</th>
    <th>Where</th>
    <th>Templates</th>
    <th>Locations</th>
  </tr>
  {% for push in pushes %}
    <tr>
      <td>{{ push.who }}</td>
      <td>{{ push.when }}</td>
      <td>{{ push.where }}</td>
      <td>{{ push.templates }}</td>
      <td>{{ push.locations }}</td>
    </tr>
  {% endfor %}
</table>
</div>

{% endblock %}
